* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-left: 0;
}

.container {
    height: 100vh;
}

header {
    height: 6rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

header.light-theme {
    background-color: #5ac672;
    color: #FFFFFF;
    text-shadow: 2px 2px #07432d;
}

header.dark-theme {
    background-color: #07432d;
    color: #E0F2FE;
}

.container.dark-theme {
    background-color: #5ac672;
    color: #F0F9FF;
}

.container.light-theme {
    background-color: #c2f8aa;
    color: #0C4A6E;
}

button {
    cursor: pointer;
    font-weight: 700;
    padding: 9px 17px;
    border-radius: 6px;
    line-height: 24px;
    margin-left: 1rem;
    margin-top: 1rem;
}

button.dark-theme {
    border: 1px solid #F0F9FF;
    background-color: #07432d;;
    color: #F0F9FF;
}

button.light-theme {
    border: 1px solid #5ac672;
    background-color: #FFFFFF;;
    color: #07432d;
}